<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:theme="@style/AppTheme"
        android:label="DanzKu Visual Shader"
        android:allowBackup="false"
        android:supportsRtl="true">
        <service
            android:name=".MonitorTileService"
            android:label="DanzKu Monitor"
            android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
